<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @player_1.name %> attacked <%= @player_2.name %>
    <%= @player_2.name %>: <%= @player_2.hit_points%>HP
  </body>
</html>
