<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @game.awaiting_turn.name %> attacked <%= @game.current_turn.name %>
    <br>
    <br>
    <%= @game.current_turn.name %>: <%= @game.current_turn.hit_points%>HP

    <a href="/play">OK</a>
  </body>
</html>
