<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @player_1_name %> vs <%= @player_2_name %>

    <%= @player_2_name %>: 60HP
  </body>
</html>
