<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @game.player_1.name %> vs <%= @game.player_2.name %>

    <%= @game.player_2.name %>: 60HP

    <a href="/attack">Attack</a>
  </body>
</html>
